<ul class="list-group col-md-4" id="user_list">
    <li class="list-group-item">
        <span><%= gravatar_for user %></span>
        <span><%= link_to user.name, user_path(user) %></span>
    </li>
</ul>
